# FRONTEND
FRONT_END_URL=http://localhost:3026
PORT=3000

# Choose which AI provider to use: openai or groq
AI_PROVIDER=

# OpenAI credentials
OPENAI_API_KEY=

# Groq credentials
GROQ_API_KEY=
GROQ_API_URL=